
<div id="player"></div>
<div id="btns"  style="display:none">
    <a id="shuf" class="btn" >Shuffle</a>
    <a id="prev" class="btn" >&lt;&lt;</a>
    <a id="next" class="btn" >&gt;&gt;</a>
</div>
<output id="list"></output>
<input type="file" id="dir-select" webkitdirectory="" />
<div id = "jpId"></div>
