/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
span{display:block;
    width:80%;
    padding:3px;
    margin:2px;
    border:1px gray dashed;
   /* background: #eee;*/
    color:#bbb;
}
li:hover{
    /*background: #888;
    color:#aaa;*/
    font-weight:bold;
    cursor:pointer;
}
li.active {
    color:#111;
}
.playing a{ 
    font-weight:bold;
}
a.off {
    width:20px;
    padding:4px;
    background:gray;
    color:#fff;
}

.enabled{
    font-weight:bold;
}

.btn{
    cursor:pointer;
    background:#eee;
    padding:3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:5px;
}
#list ul{
    padding:1px;
}
#list li{
    list-style:none;
}

